@charset 'utf-8';
@import "./base.scss";
//边距
.p-lr-24 {
    padding: 0 rem(24px);
}

.m-t-50 {
    margin-top: rem(50px) !important;
}

.m-t-20 {
    margin-top: rem(20px) !important;
}

.m-t-30 {
    margin-top: rem(30px) !important;
}

// 抵消body的padding
.m-t-45{
    margin-top: -45px !important;
}

// 位置对齐
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.vtl-middle {
    vertical-align: middle !important;
}

.vtl-top {
    vertical-align: top !important;
}

.vtl-bottom {
    vertical-align: bottom !important;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
}

//定位浮动
.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.fixed-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//字体
.font-b {
    font-weight: bold;
}

.font-W6 {
    font-family: 'HiraginoSansGB-W6';
}

.font-W3 {
    font-family: 'HiraginoSansGB-W3';
}

.del-p-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.del-p-all {
    padding: 0 !important;
}

.del-m-all {
    margin: 0 !important;
}

.border-0 {
    border: 0 !important;
}
.font-20{
    font-size: rem(20px) ;
}
// 颜色
.placeh {
    color: $placep;
}

.disabled {
    background: #656565 !important;
}

//宽度
.wh-100-p{
    width: 100%;
    height: 100%;
}

// 辅助
.hidden {
    display: none !important;
}
//flex水平垂直居中
.d-f-c{
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
//flex垂直居中
.d-f-c-v{
    display: flex ;
    align-items: center ;
}
//flex水平居中
.d-f-c-h{
    display: flex ;
    justify-content: center ;
}
//flex布局上下靠边对齐（布局）top-bottom
.d-f-t-b{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
}
//flex布局左右靠边对齐（布局）left-right
.d-f-l-r{
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
}
.d-f-row{
    display: flex ;
    flex-direction: row ;
}
.d-f-column{
    display: flex ;
    flex-direction: column ;
}
.view-box{
    background: #fff ;
    margin-top: rem(24px) ;
    padding: rem(30px) rem(24px);
}
.view-content{
    height: 100% ;
    width: 100% ;
    display: flex ; 
    flex-direction: column; 
    position: relative ;
    color: #323232 ;
    @extend .font-W3 ;   //默认
  }